
@{
    ViewBag.Title = "Perfil";
}

<center><h1>Perfil</h1></center>

<!--Hagan de aquí para abajo-->

<html lang="en">

<head>
    
</head>
<body>

    <div class="container">
        <div class="perfil-header">
            <div class="perfil-img">
                <img src="~/Images/logoFinal.png" width="200" alt="100">
            </div>
            <div class="perfil-nav-info">
                <h3 class="Nickname">
                    Juan Calvopiña
                </h3>
                <div class="UsuarioID">
                    1805290838
                </div>
                <p class="Correo">
                    juan@udla.edu.ec
                </p>
                <span class="Nivel">
                    Expert
                </span>
            </div>
            <div class="perfil-opt">
                <div class="Notificacion">
                    <p class="fa fa-bell"></p>
                    <span class="Mensaje-Alerta">1</span>
                </div>
            </div>
        </div>

    </div>
</body>


</html>









