@model MikhunaEcuador.Models.Usuario

@{
    ViewBag.Title = "Perfil";
}

<center><h1>Perfil</h1></center>

<!--Hagan de aquí para abajo-->

<html lang="en">

<head>

</head>
<body>

    <div class="container">
        <div class="perfil-header">

            <!--Carga La imagen-->
            <div class="perfil-img">
                <img src="@Model.Imagen" >
                <img  id="imgPreviewPerfil">
            </div>


            @Html.Label("Imagen")
            <div id="labelImg">
                <label for="imageUploaderPerfil" id="forImageUploaderPerfil">Seleccionar archivo</label>
                <input id="imageUploaderPerfil" class="inputsReceta" type="file" accept="image/png, .jpg, .jpeg, image/gif" name="archivitoPerfil">
            </div>

            <form action="/Usuarios/GuardarImagenPerfil" method="post">
                <input id="UrlImgPerfil" type="hidden" name="UrlImgPerfil"/>
                <input type="submit" value="Guardar"/>
            </form>



            <div class="perfil-nav-info">
                <h3 class="Nickname">
                    Juan Calvopiña
                </h3>
                <div class="UsuarioID">
                    1805290838
                </div>
                <p class="Correo">
                    juan@udla.edu.ec
                </p>
                <span class="Nivel">
                    Expert
                </span>
            </div>

            <div class="perfil-opt">
                <div class="Notificacion">
                    <p class="fa fa-bell"></p>
                    <span class="Mensaje-Alerta">1</span>
                </div>
            </div>

        </div>

    </div>
</body>


</html>
<script src="/Scripts/ImagenPerfil.js"></script>








